[defaults]
inventory = ansible/inventory.ini
roles_path = ansible/roles
stdout_callback = default
result_format = yaml
interpreter_python = auto_silent
retry_files_enabled = false

[privilege_escalation]
become = true
